<!-- <ion-header [translucent]="true">
	<ion-toolbar>
	  <ion-title>
		Tab 3
	  </ion-title>
	</ion-toolbar>
  </ion-header> -->

  <ion-content [fullscreen]="true">
    <div class="container">
      
      <div class="card-wrapper">
        
        <div class="card profile-two">
          
          <div class="card-image profile-img--two">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/p7iwXvBnbIE" title="Take a Seat in the Harvard MBA Case Classroom" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      
          <!-- <ul class="social-icons">
          <li>
            <a href="">
            <i><ion-icon name="logo-facebook"></ion-icon></i>
            </a>
          </li>
          <li>
            <a href="">
            <i><ion-icon name="logo-instagram"></ion-icon></i>
            </a>
          </li>
          <li>
            <a href="">
            <i><ion-icon name="logo-twitter"></ion-icon></i>
            </a>
          </li>
          <li>
            <a href="">
            <i><ion-icon name="logo-dribbble"></ion-icon></i>
            </a>
          </li>
          </ul> -->
      
          <div class="details jane">
            <h2>
            <br>
            <span class="job-title">Stanford University</span>
            </h2>
          </div>
        </div>
       </div><!-- END box wrapper -->
         
       </div><!-- END container -->
  
       <div class="card1" >
        <h2 class="hh2">You can view all update about standford here.</h2>
        </div>
      
       
  
  </ion-content>
  