<ion-content>
  <div>
    <ion-item class="hd">

      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      
      <ion-button class="hd" (click)="logout()" slot="end" size="small" fill="clear">Logout</ion-button>
    </ion-item>

    <ion-item class="hdd">
      <ion-avatar class="ava">
        
      <img src="assets/jk.PNG">
      

    </ion-avatar>

    <label class="lbl">Marshallda Syawal - 14200008 <br> Sistem Informasi (S1)<br>Universitas Binaniaga</label>

  </ion-item>


      <label class="at">3.4</label>
      <label class="at">21</label>
      <label class="ag">IP Kumulatif</label>
      <label class="ag">SKS Tempuh</label>
  
      <!-- <ion-card-content class="maps">
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe id="gmap_canvas" height="130px" width="200px"
              src="https://maps.google.com/maps?q=STIKOM%20Binaniaga%20Bogor&t=&z=17&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

          </div>
        </div>
      </ion-card-content> -->
  
  </div>
    
    
<!-- <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="/assets/1.webp"/>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="/assets/2.jpg"/>
      </div>
    </ion-slide> -->

    <!-- <ion-slides> -->
<ion-slides>
 <ion-slide>
  <ion-card class="cardis">
  <ion-row>
    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/1.png" alt=""></ion-card-title>
            <ion-card-subtitle class="tgg">Jadwal</ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/2.png" alt=""></ion-card-title>
            <ion-card-subtitle class="tgg">Presensi</ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/3.png" alt=""></ion-card-title>
            <ion-card-subtitle class="tgg">Nilai</ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/4.png" alt=""></ion-card-title>
            <ion-card-subtitle class="tgg">Tugas</ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/5.png" alt=""></ion-card-title>
            <ion-card-subtitle class="tgg">KRS</ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/6.png" alt=""></ion-card-title>
            <ion-card-subtitle class="tgg">Wisuda</ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/7.png" alt=""></ion-card-title>
            <ion-card-subtitle class="tgg">Kegiatan</ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/8.png" alt=""></ion-card-title>
            <ion-card-subtitle class="tgg">Biaya</ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/9.png" alt=""></ion-card-title>
            <ion-card-subtitle class="tgg">Kuis</ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <label class="ac">Academic</label>
  </ion-row>
  
</ion-card>
</ion-slide>


<!--  -->


<ion-slide>
  <ion-card class="cardis">
  <ion-row>
    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/7.png" alt=""></ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/8.png" alt=""></ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/9.png" alt=""></ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/10.png" alt=""></ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/11.png" alt=""></ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/12.png" alt=""></ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <label class="ac1">Finance</label>

  </ion-row>
</ion-card>
</ion-slide>


<ion-slide>
  <ion-card class="cardis">
  <ion-row>
    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/13.png" alt=""></ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/14.png" alt=""></ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/15.png" alt=""></ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/16.png" alt=""></ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/17.png" alt=""></ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card routerLink="/blank">
        <ion-card-content>
          <center>
            <ion-card-title><img src="assets/18.png" alt=""></ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </center>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <label class="ac2">Administration</label>

  </ion-row>
</ion-card>
</ion-slide>



</ion-slides>



</ion-content>