ion-content{

    --background: black;
    
    
}



.ion-page{
    background-color: black;
}

ion-list {
   background-color : black;
}

ion-icon {
    margin-right : 5%;
 }

// ion-item {
//     --background: rgb(247, 10, 247);
// }

.menuu {
    --background: #ffc107;
}

